<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Autori: <span class="autori"><%- locals.prod.autori %> </span></p>
                    <p>Nr pagini: <span class="nrPagini"><%- locals.prod.nr_pagini %> </span></p>
                    <p>Tip produs: <span class="tip"><%- locals.prod.tip_produs %> </span></p>
                    <p>Varsta recomandata: <span class="varsta-recomandata"><%- locals.prod.varsta_minima %> </span></p>
                    <p>Coperta: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Varianta digitala: <span class="varianta-digitala"><%- locals.prod.varianta_digitala %> </span></p>
                    <p>Data adăugare: <span class="data-adaugare"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>